.projects-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 40px;
    background-color: rgb(128, 28, 196);
    margin-bottom: 50px;
}
.projects-title{
    display: flex;
    justify-content: center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: rgb(145, 30, 221);
    width: 100%;
    padding: 20px 0 20px 0;
    font-size: 10px;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.658);
}
.projects-elements{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    width: 90%;
}
.projects-icon-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px 0px 0px;
}
#projects-name{
    font-weight: 500;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.658);

}
#projects-link{
    margin: 10px 0px 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    
}
#project-desc{
    width: 90%;
    margin: 5px 0 30px 10px;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.658);
    font-size: 12px;
}
#projects-icon-express{
    margin: 0;
}
#projects-icon-mongodb{
 width: 21px;
}
#projects-icon-node{
    margin-right: 5px;
    margin-left: 3px;
   }

   #projects-icon-flask{
    margin-left: 5px;
   }
   #projects-icon-postgres{
    margin-left: 2px;
    margin-right: 5px;
   }